<div class="container mt-8 mb-6 text-center">
  <h2 class="mb-6">PiofX Features</h2>

  <div class="row feature-stamp">
    <div class="col-lg-3 col-md-6">
      <div class="feature-item">
        <div class="stamp bg-primary"><i class="fas fa-comments fa-2x"></i></div>
        <h4 class="mt-4">Chat</h4>
        <p>Send public and private messages.</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="feature-item">
        <div class="stamp bg-primary"><i class="fas fa-video"></i></div>
        <h4 class="mt-4">Webcams</h4>
        <p>Hold visual meetings./p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="feature-item">
        <div class="stamp bg-primary"><i class="fas fa-microphone"></i></div>
        <h4 class="mt-4">Audio</h4>
        <p>Communicate using high quality audio.</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="feature-item">
        <div class="stamp bg-primary"><i class="fas fa-hand-paper"></i></div>
        <h4 class="mt-4">Emojis</h4>
        <p>Express yourself.</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="feature-item">
        <div class="stamp bg-primary"><i class="far fa-window-restore"></i></div>
        <h4 class="mt-4">Breakout Rooms</h4>
        <p>Group users into breakout rooms for team collaboration.</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="feature-item">
        <div class="stamp bg-primary"><i class="fas fa-chart-bar"></i></div>
        <h4 class="mt-4">Polling</h4>
        <p>Poll your users anytime</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="feature-item">
        <div class="stamp bg-primary"><i class="fas fa-desktop"></i></div>
        <h4 class="mt-4">Screen Sharing</h4>
        <p>Share your screen.</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="feature-item">
        <div class="stamp bg-primary"><i class="fas fa-chalkboard"></i></div>
        <h4 class="mt-4">Muti-user whiteboard</h4>
        <p>Draw together.</p>
      </div>
    </div>
    
  </div>

</div>